@{
  Layout = "_Layout";
}


@model HairSalon.Models.Stylist

<h3>Add a new stylist</h3>
@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(mode => Model.Name)
  <br>

  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)
  <input type = "submit" class="btn-block" value = "Add stylist" />
}

<p>@Html.ActionLink("Back to Stylists", "Index")</p>