@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h3>Edit information for: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(mode => Model.Name)
  <br>

  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)

  <input type = "submit" class="btn-block" value = "Save" />
}

<button>@Html.ActionLink("Back to Stylists", "Index")</button>