@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="flip-card">

  <h2>Add a stylist for client: @Html.DisplayFor(model => model.Name)</h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ClientId)
    
    @Html.Label("Select Stylist")
    @Html.DropDownList("StylistId")

    <input type="submit" value="Save" class="btn" />
  }

  <button class="btn">@Html.ActionLink("Back to list", "Index")</button>
</div>

