@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client

<h2>Client Details</h2>
<h3>Name: @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Stylists.Count == 0)
{
  <h4>@Html.DisplayFor(model => model.Name) has not seen any of our stylists yet.</h4>
}
else
{
  <h4>@Html.DisplayFor(model => model.Name) is working with the following stylists:</h4>
  <ul>
    @foreach(var join in Model.Stylists)
    {
      <li>@join.Stylist.Name</li>
      @using(Html.BeginForm("DeleteCategory", "Items"))
      {
        @Html.Hidden("joinId", @join.StylistClientId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to all clients", "Index", "Clients", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Add a Stylist", "AddStylist", new { id = Model.ClientId} )</p>
<p>@Html.ActionLink("Edit", "Edit", new { id =Model.ClientId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>