@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h3>Edit client: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select Stylist")
  @Html.DropDownList("StylistId")

  <input type="submit" class="btn-block" value="Save" />
}

<button>@Html.ActionLink("Back to all clients", "Index") </button>
